// app global css in SCSS form
.hidden-input .ncform-input {
    display: none;
}

.ncform-radio .el-radio {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.el-row > [class*=el-col-] {
    padding: 10px !important;
}

.el-form-item__label {
    text-align: left !important;
}

/* If the screen size is 601px wide or more ... */
@media screen and (min-width: 601px) {
    .ncform .el-form-item__label {
        font-size:14px;
    }
    .ncform .el-radio__label {
        font-size: 14px;
        font-weight: initial;
    }
}

/* If the screen size is 600px wide or less ... */
@media screen and (max-width: 600px) {
    .ncform .el-form-item__label {
        font-size:18px;
    }
    .ncform .el-radio__label {
        font-size: 18px;
        font-weight: initial;
    }
}